.e28_31 {  
	overflow:hidden;
}
.e28_31 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e28_32 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:186px;
	top:0px;
}
.e28_39 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:186px;
	top:4px;
}
.e28_55 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:718px;
	height:330px;
	position:absolute;
	left:389px;
	top:237px;
}
.e28_42 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:385px;
	top:43px;
}
.e28_58 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:180px;
	height:109px;
	position:absolute;
	left:193px;
	top:11px;
}
.e21_52 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:200px;
	top:26px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e28_63 { 
	background-color:rgba(128.58462899923325, 189.53030347824097, 196.5624949336052, 1);
	width:984px;
	height:259px;
	position:absolute;
	left:241px;
	top:765px;
}
.e28_48 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:195px;
	height:58px;
	position:absolute;
	left:1037px;
	top:43px;
}
.e28_49 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:172px;
	height:58px;
	position:absolute;
	left:621px;
	top:43px;
}
.e28_50 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:844px;
	top:43px;
}
.e28_43 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:420px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_54 { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:33px;
	position:absolute;
	left:636px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_57 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:33px;
	position:absolute;
	left:644px;
	top:631px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_67 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:373px;
	top:853px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_73 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:373px;
	top:952px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_70 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:554px;
	top:871px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_75 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:554px;
	top:970px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_69 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:373px;
	top:892px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_74 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:373px;
	top:991px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_64 { 
	color:rgba(255, 255, 255, 1);
	width:175px;
	height:33px;
	position:absolute;
	left:245px;
	top:765px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_60 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:33px;
	position:absolute;
	left:1028px;
	top:628px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_51 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:26px;
	position:absolute;
	left:627px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_52 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:871px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_53 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:26px;
	position:absolute;
	left:1052px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_68 { 
	border:1px solid rgba(128.58462899923325, 189.53030347824097, 196.5624949336052, 1);
}
.e28_68 { 
	width:954px;
	height:0px;
	position:absolute;
	left:255px;
	top:920px;
}
.e28_71 { 
	background-color:rgba(255, 255, 255, 0.4300000071525574);
	width:90px;
	height:76px;
	position:absolute;
	left:255px;
	top:830px;
}
.e28_72 { 
	background-color:rgba(255, 255, 255, 0.4300000071525574);
	width:90px;
	height:76px;
	position:absolute;
	left:255px;
	top:936px;
}
.e28_56 { 
	background-color:rgba(255, 255, 255, 0.4300000071525574);
	width:264px;
	height:75px;
	position:absolute;
	left:601px;
	top:606px;
}
.e28_66 { 
	background-color:rgba(255, 255, 255, 0.2800000011920929);
	width:971px;
	height:208px;
	position:absolute;
	left:248px;
	top:816px;
}
.e28_59 { 
	background-color:rgba(255, 255, 255, 0.4300000071525574);
	width:264px;
	height:75px;
	position:absolute;
	left:975px;
	top:607px;
}
