.105_119 { 
	overflow:hidden;
}.e105_119 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1375px;
	height:1024px;
	position:absolute;
}.e105_120 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:154px;
	top:0px;
}.e105_121 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:154px;
	top:0px;
}.e105_122 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:604px;
	position:absolute;
	left:154px;
	top:232px;
}.e105_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:813px;
	height:492px;
	position:absolute;
	left:251px;
	top:232px;
}.e105_125 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:420px;
	top:59px;
}.e105_126 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.7900000214576721);
	width:326px;
	height:27px;
	position:absolute;
	left:515px;
	top:308px;
}.e105_143 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.7900000214576721);
	width:326px;
	height:27px;
	position:absolute;
	left:515px;
	top:376px;
}.e105_144 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.7900000214576721);
	width:326px;
	height:27px;
	position:absolute;
	left:515px;
	top:468px;
}.e105_128 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.5400000214576721);
	width:106px;
	height:48px;
	position:absolute;
	left:368px;
	top:590px;
}.e105_145 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.5400000214576721);
	width:106px;
	height:48px;
	position:absolute;
	left:559px;
	top:590px;
}.e105_129 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:454px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_130 { 
	color:rgba(0, 0, 0, 1);
	width:216px;
	height:27px;
	position:absolute;
	left:293px;
	top:308px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_131 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:59px;
	position:absolute;
	left:293px;
	top:373px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_142 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:60px;
	position:absolute;
	left:293px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_133 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:620px;
	top:59px;
}.e105_134 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:20px;
	position:absolute;
	left:620px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_135 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:819px;
	top:59px;
}.e105_136 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:175px;
	height:58px;
	position:absolute;
	left:1014px;
	top:59px;
}.e105_137 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:26px;
	position:absolute;
	left:1023px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_138 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:203px;
	height:113px;
	position:absolute;
	left:169px;
	top:11px;
}.e105_139 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:176px;
	top:26px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e105_140 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:838px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_141 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:26px;
	position:absolute;
	left:368px;
	top:601px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_146 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:26px;
	position:absolute;
	left:565px;
	top:598px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}