.105_56 { 
	overflow:hidden;
}.e105_56 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1375px;
	height:1024px;
	position:absolute;
}.e105_57 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:154px;
	top:0px;
}.e105_58 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:154px;
	top:0px;
}.e105_59 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:604px;
	position:absolute;
	left:154px;
	top:232px;
}.e105_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:446px;
	height:333px;
	position:absolute;
	left:247px;
	top:233px;
}.e105_91 { 
	transform: rotate(-90.10257240801444deg);
	width:128.0001678466797px;
	height:0px;
	position:absolute;
	left:400px;
	top:417px;
}.105_91 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e105_64 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:420px;
	top:59px;
}.e105_65 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.7900000214576721);
	width:128px;
	height:38px;
	position:absolute;
	left:454px;
	top:293px;
}.e105_68 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.5400000214576721);
	width:185px;
	height:50px;
	position:absolute;
	left:271px;
	top:455px;
}.e105_116 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 0.5400000214576721);
	width:141px;
	height:50px;
	position:absolute;
	left:481px;
	top:455px;
}.e105_72 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:454px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_73 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:29px;
	position:absolute;
	left:295px;
	top:302px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_93 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:26px;
	position:absolute;
	left:275px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_115 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:23px;
	position:absolute;
	left:498px;
	top:466px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_76 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:34px;
	position:absolute;
	left:471px;
	top:297px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_83 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:620px;
	top:59px;
}.e105_84 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:20px;
	position:absolute;
	left:620px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_85 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:819px;
	top:59px;
}.e105_86 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:175px;
	height:58px;
	position:absolute;
	left:1014px;
	top:59px;
}.e105_87 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:26px;
	position:absolute;
	left:1023px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e105_88 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:203px;
	height:113px;
	position:absolute;
	left:169px;
	top:11px;
}.e105_89 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:176px;
	top:26px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e105_90 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:838px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}