.e25_12 { 
	overflow:hidden;
}
.e25_12 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e25_13 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1000px;
	height:993px;
	position:absolute;
	left:220px;
	top:27px;
}
.e42_8 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1000px;
	height:993px;
	position:absolute;
	left:220px;
	top:27px;
}
.e107_4 { 
	width:1000px;
	height:993px;
	position:absolute;
	left:220px;
	top:33px;
}
.e42_7 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1000px;
	height:993px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_63 { 
	background-color:rgba(120.16874939203262, 248.62500607967377, 225.50288200378418, 1);
	width:420px;
	height:59px;
	position:absolute;
	left:224px;
	top:28px;
}
.e21_64 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:417px;
	height:50px;
	position:absolute;
	left:255px;
	top:33px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e21_56 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:0.20000000298023224;
	width:310px;
	height:40px;
	position:absolute;
	left:720px;
	top:527px;
}
.e28_6 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:320px;
	top:497px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_14 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:39px;
	position:absolute;
	left:619px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_6 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:29px;
	position:absolute;
	left:319px;
	top:340px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_21 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:320px;
	top:692px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_23 { 
	color:rgba(0, 0, 0, 1);
	width:7px;
	height:29px;
	position:absolute;
	left:388px;
	top:744px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_28 { 
	color:rgba(0, 0, 0, 1);
	width:7px;
	height:29px;
	position:absolute;
	left:789px;
	top:744px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_2 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:713px;
	top:161px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e42_4 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:321px;
	top:164px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_7 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:33px;
	position:absolute;
	left:320px;
	top:387px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_7 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:320px;
	top:585px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_25 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:19px;
	position:absolute;
	left:489px;
	top:752px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_31 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:19px;
	position:absolute;
	left:489px;
	top:752px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_32 { 
	color:rgba(0, 0, 0, 1);
	width:443px;
	height:19px;
	position:absolute;
	left:404px;
	top:843px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_29 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:19px;
	position:absolute;
	left:890px;
	top:749px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_13 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:712px;
	top:384px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_17 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:720px;
	top:494px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_4 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:321px;
	top:252px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e42_10 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:713px;
	top:255px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:710px;
	top:197px;
}
.e32_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:319px;
	top:426px;
}
.e32_12 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:319px;
	top:527px;
}
.e21_57 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:710px;
	top:527px;
}
.e32_16 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:34px;
	position:absolute;
	left:320px;
	top:621px;
}
.e32_22 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:60px;
	height:40px;
	position:absolute;
	left:319px;
	top:739px;
}
.e32_26 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:60px;
	height:40px;
	position:absolute;
	left:720px;
	top:739px;
}
.e32_27 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:60px;
	height:40px;
	position:absolute;
	left:805px;
	top:739px;
}
.e32_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:240px;
	height:57px;
	position:absolute;
	left:480px;
	top:912px;
}
.e107_5 { 
	width:240px;
	height:57px;
	position:absolute;
	left:745px;
	top:912px;
}
.e107_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:240px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.e32_36 { 
	color:rgba(0, 0, 0, 0.5299999713897705);
	width:137px;
	height:29px;
	position:absolute;
	left:537px;
	top:926px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e107_3 { 
	color:rgba(0, 0, 0, 0.5299999713897705);
	width:101px;
	height:29px;
	position:absolute;
	left:814px;
	top:926px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_24 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:60px;
	height:40px;
	position:absolute;
	left:404px;
	top:739px;
}
.e32_30 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:76px;
	height:53px;
	position:absolute;
	left:312px;
	top:826px;
}
.e32_10 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:710px;
	top:431px;
}
.e32_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:319px;
	top:277px;
}
.e32_33 { 
	width:52px;
	height:33px;
	position:absolute;
	left:327px;
	top:836px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e42_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:321px;
	top:200px;
}
.e42_6 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:712px;
	top:281px;
}
