.e21_39 { 
	overflow:hidden;
}
.e21_39 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1460px;
	height:1834px;
	position:absolute;
}
.e109_23 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:580px;
	height:95px;
	position:absolute;
	left:115px;
	top:223px;
}
.e109_26 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:580px;
	height:95px;
	position:absolute;
	left:436px;
	top:1278px;
}
.e109_24 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:580px;
	height:95px;
	position:absolute;
	left:405px;
	top:579px;
}
.e94_6 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:1469px;
	height:237px;
	position:absolute;
	left:-17px;
	top:313px;
}
.e109_25 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:614px;
	height:95px;
	position:absolute;
	left:405px;
	top:940px;
}
.e109_8 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:1469px;
	height:237px;
	position:absolute;
	left:-9px;
	top:674px;
}
.e109_21 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:1469px;
	height:237px;
	position:absolute;
	left:-5px;
	top:1367px;
}
.e109_16 { 
	background-color:rgba(217.0000022649765, 239.00000095367432, 241.00000083446503, 1);
	width:1469px;
	height:176px;
	position:absolute;
	left:0px;
	top:1013px;
}
.e109_5 { 
	color:rgba(0, 0, 0, 1);
	width:902px;
	height:195px;
	position:absolute;
	left:45px;
	top:329px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e109_27 { 
	color:rgba(0, 0, 0, 1);
	width:902px;
	height:195px;
	position:absolute;
	left:57px;
	top:703px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e109_29 { 
	color:rgba(0, 0, 0, 1);
	width:1346px;
	height:203px;
	position:absolute;
	left:45px;
	top:1388px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e109_28 { 
	color:rgba(0, 0, 0, 1);
	width:1439px;
	height:195px;
	position:absolute;
	left:25px;
	top:1020px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e21_41 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1452px;
	height:138px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e21_43 { 
	background-color:rgba(120.16874939203262, 248.62500607967377, 225.50288200378418, 1);
	width:436.39117431640625px;
	height:105.669921875px;
	position:absolute;
	left:1045px;
	top:18px;
}
.e21_42 { 
	background-color:rgba(120.16874939203262, 248.62500607967377, 225.50288200378418, 1);
	width:422.3140563964844px;
	height:105.669921875px;
	position:absolute;
	left:0px;
	top:18px;
}
.e21_44 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:419.2975158691406px;
	height:89.55078125px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e109_19 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:419.2975158691406px;
	height:89.55078125px;
	position:absolute;
	left:1016px;
	top:766px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e21_45 { 
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:27px;
	position:absolute;
	left:1097px;
	top:38px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e21_46 { 
	width:550px;
	height:175px;
	position:absolute;
	left:886px;
	top:138px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e109_6 { 
	color:rgba(0, 0, 0, 1);
	width:649px;
	height:183px;
	position:absolute;
	left:140px;
	top:226px;
	font-family:Inika;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e109_7 { 
	color:rgba(0, 0, 0, 1);
	width:649px;
	height:183px;
	position:absolute;
	left:543px;
	top:582px;
	font-family:Inika;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e109_15 { 
	color:rgba(0, 0, 0, 1);
	width:649px;
	height:183px;
	position:absolute;
	left:508px;
	top:935px;
	font-family:Inika;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e109_20 { 
	color:rgba(0, 0, 0, 1);
	width:649px;
	height:183px;
	position:absolute;
	left:465px;
	top:1281px;
	font-family:Inika;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
