.e39_4 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1375px;
	height:1024px;
	position:absolute;
}
.e43_2 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:154px;
	top:0px;
}
.e97_2 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:32px;
	position:absolute;
	left:208px;
	top:225px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e97_3 { 
	color:rgba(0, 0, 0, 1);
	width:251px;
	height:33px;
	position:absolute;
	left:208px;
	top:438px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e97_4 { 
	color:rgba(0, 0, 0, 1);
	width:251px;
	height:33px;
	position:absolute;
	left:208px;
	top:540px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e97_5 { 
	color:rgba(0, 0, 0, 1);
	width:251px;
	height:33px;
	position:absolute;
	left:208px;
	top:663px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e97_7 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:29px;
	position:absolute;
	left:208px;
	top:333px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e43_5 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:154px;
	top:0px;
}
.e54_24 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:420px;
	top:59px;
}
.e97_14 { 
	background-color:rgba(255, 255, 255, 0.5400000214576721);
	width:179px;
	height:56px;
	position:absolute;
	left:183px;
	top:917px;
}
.e72_5 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:454px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_2 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:167px;
	height:58px;
	position:absolute;
	left:620px;
	top:59px;
}
.e72_6 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:20px;
	position:absolute;
	left:620px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_3 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:819px;
	top:59px;
}
.e72_4 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:175px;
	height:58px;
	position:absolute;
	left:1014px;
	top:59px;
}
.e72_9 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:26px;
	position:absolute;
	left:1023px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e43_10 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:203px;
	height:113px;
	position:absolute;
	left:169px;
	top:11px;
}
.e43_11 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:176px;
	top:26px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e72_8 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:838px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.97_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e97_8 { 
	width:331px;
	height:0px;
	position:absolute;
	left:185px;
	top:270px;
}
.97_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e97_9 { 
	width:331px;
	height:0px;
	position:absolute;
	left:183px;
	top:374px;
}
.97_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e97_10 { 
	width:331px;
	height:0px;
	position:absolute;
	left:185px;
	top:484px;
}
.97_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e97_11 { 
	width:331px;
	height:0px;
	position:absolute;
	left:185px;
	top:590px;
}
.97_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e97_12 { 
	width:331px;
	height:0px;
	position:absolute;
	left:185px;
	top:710px;
}
.105_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e105_34 { 
	width:331px;
	height:0px;
	position:absolute;
	left:185px;
	top:710px;
}
.e97_6 { 
	color:rgba(0, 0, 0, 1);
	width:185px;
	height:28px;
	position:absolute;
	left:199px;
	top:931px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
