.e28_9 {  
	overflow:hidden;
}
.e28_9 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e28_10 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1041px;
	height:1024px;
	position:absolute;
	left:177px;
	top:1px;
}
.e43_16 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:240px;
	height:57px;
	position:absolute;
	left:600px;
	top:735px;
}
.e43_17 { 
	color:rgba(0, 0, 0, 0.5299999713897705);
	width:69px;
	height:29px;
	position:absolute;
	left:685px;
	top:749px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e21_66 { 
	background-color:rgba(120.16874939203262, 248.62500607967377, 225.50288200378418, 1);
	width:420px;
	height:59px;
	position:absolute;
	left:177px;
	top:1px;
}
.e21_65 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:417px;
	height:50px;
	position:absolute;
	left:202px;
	top:10px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e28_12 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:39px;
	position:absolute;
	left:619px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e28_14 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:388px;
	top:267px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_20 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:388px;
	top:457px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_30 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:36px;
	position:absolute;
	left:388px;
	top:457px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_21 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:388px;
	top:303px;
}
.e28_28 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:310px;
	height:40px;
	position:absolute;
	left:388px;
	top:493px;
}
.e107_7 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:240px;
	height:57px;
	position:absolute;
	left:600px;
	top:827px;
}
.e107_8 { 
	color:rgba(0, 0, 0, 0.5299999713897705);
	width:101px;
	height:29px;
	position:absolute;
	left:669px;
	top:841px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
