
.e28_76 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1600px;
	height:1500px;
	position:absolute;
}
.e28_77 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:193px;
	top:48px;
}
.e43_3 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:193px;
	top:0px;
}
.e54_22 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:200px;
	height:58px;
	position:absolute;
	left:1040px;
	top:48px;
}
.e54_21 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:850px;
	top:48px;
}
.e54_20 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:164px;
	height:58px;
	position:absolute;
	left:631px;
	top:48px;
}
.e54_18 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:427px;
	top:48px;
}
.e54_19 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:466px;
	top:67px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_6 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:466px;
	top:67px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_7 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:39px;
	position:absolute;
	left:1057px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_8 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:26px;
	position:absolute;
	left:872px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_9 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:23px;
	position:absolute;
	left:631px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e43_6 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:203px;
	height:113px;
	position:absolute;
	left:193px;
	top:11px;
}
.e43_7 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:193px;
	top:15px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e28_79 { 
	background-color:rgba(122.97109141945839, 200.38066685199738, 209.31249797344208, 0.7599999904632568);
	width:544px;
	height:326px;
	position:absolute;
	left:205px;
	top:150px;
}
.e37_83 { 
	background-color:rgba(122.97109141945839, 200.38066685199738, 209.31249797344208, 0.7599999904632568);
	width:369px;
	height:220px;
	position:absolute;
	left:872px;
	top:157px;
}
.e37_86 { 
	background-color:rgba(255, 255, 255, 0.75);
	width:151px;
	height:25px;
	position:absolute;
	left:1057px;
	top:204px;
}
.e37_89 { 
	background-color:rgba(255, 255, 255, 0.75);
	width:72px;
	height:23px;
	position:absolute;
	left:1057px;
	top:294px;
}
.e41_3 { 
	background-color:rgba(255, 255, 255, 0.75);
	width:72px;
	height:23px;
	position:absolute;
	left:1154px;
	top:294px;
}
.e37_71 { 
	width:145px;
	height:116px;
	position:absolute;
	left:404px;
	top:313px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_75 { 
	width:145px;
	height:116px;
	position:absolute;
	left:239px;
	top:313px;
	background-image:url(images/rectangle_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_85 { 
	width:145px;
	height:116px;
	position:absolute;
	left:891px;
	top:223px;
	background-image:url(images/rectangle_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_73 { 
	width:145px;
	height:116px;
	position:absolute;
	left:404px;
	top:178px;
	background-image:url(images/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_74 { 
	width:145px;
	height:116px;
	position:absolute;
	left:239px;
	top:178px;
	background-image:url(images/rectangle_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_87 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:15px;
	position:absolute;
	left:1212px;
	top:208px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_90 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:15px;
	position:absolute;
	left:1063px;
	top:298px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e41_2 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:1152px;
	top:298px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_84 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:33px;
	position:absolute;
	left:891px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_78 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:19px;
	position:absolute;
	left:416px;
	top:403px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_79 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:19px;
	position:absolute;
	left:239px;
	top:403px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_81 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:19px;
	position:absolute;
	left:416px;
	top:267px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_82 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:19px;
	position:absolute;
	left:239px;
	top:267px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_72 { 
	width:145px;
	height:116px;
	position:absolute;
	left:575px;
	top:313px;
	background-image:url(images/rectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_70 { 
	width:145px;
	height:116px;
	position:absolute;
	left:576px;
	top:178px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_80 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:19px;
	position:absolute;
	left:583px;
	top:271px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e37_77 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:15px;
	position:absolute;
	left:583px;
	top:403px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
