
.e39_2 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 138.00000697374344, 1);
	width:1369px;
	height:1024px;
	position:absolute;
}
.e39_3 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:1100px;
	height:1024px;
	position:absolute;
	left:182px;
	top:0px;
}
.e43_4 { 
	background-color:rgba(217.06874817609787, 238.69246065616608, 241.18749797344208, 1);
	width:1100px;
	height:135px;
	position:absolute;
	left:182px;
	top:2px;
}
.e54_27 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:195px;
	height:58px;
	position:absolute;
	left:1040px;
	top:48px;
}
.e54_26 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:828px;
	top:48px;
}
.e54_25 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:169px;
	height:58px;
	position:absolute;
	left:621px;
	top:48px;
}
.e54_23 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:149px;
	height:58px;
	position:absolute;
	left:421px;
	top:48px;
}
.e58_3 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:455px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e43_9 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:203px;
	height:113px;
	position:absolute;
	left:193px;
	top:11px;
}
.e43_8 { 
	color:rgba(60.73938734829426, 34.823444187641144, 219.93750303983688, 1);
	width:189px;
	height:109px;
	position:absolute;
	left:193px;
	top:15px;
	font-family:Kodchasan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e58_2 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:20px;
	position:absolute;
	left:623px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_4 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:854px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_5 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:26px;
	position:absolute;
	left:1055px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_10 { 
	background-color:rgba(122.97109141945839, 200.38066685199738, 209.31249797344208, 0.7599999904632568);
	width:799.9999389648438px;
	height:440px;
	position:absolute;
	left:330px;
	top:158px;
}
.e72_11 { 
	background-color:rgba(122.97109141945839, 200.38066685199738, 209.31249797344208, 0.7599999904632568);
	width:800px;
	height:365px;
	position:absolute;
	left:330px;
	top:638px;
}
.e72_13 { 
	width:590px;
	height:343px;
	position:absolute;
	left:437px;
	top:188px;
	background-image:url(images/rectangle_34.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_12 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:38px;
	position:absolute;
	left:650px;
	top:195px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_15 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:125px;
	height:40px;
	position:absolute;
	left:596px;
	top:546px;
}
.e72_16 { 
	background-color:rgba(195.0000035762787, 221.00000202655792, 224.000001847744, 1);
	width:125px;
	height:40px;
	position:absolute;
	left:750px;
	top:546px;
}
.e72_17 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:625px;
	top:553px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_18 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:768px;
	top:553px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_21 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:706px;
	height:325px;
	position:absolute;
	left:378px;
	top:659px;
}
.e72_22 { 
	transform: rotate(90deg);
	width:326px;
	height:0px;
	position:absolute;
	left:732px;
	top:658px;
}
.72_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_28 { 
	transform: rotate(90deg);
	width:326px;
	height:0px;
	position:absolute;
	left:380px;
	top:655px;
}
.72_28 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_29 { 
	transform: rotate(90deg);
	width:326px;
	height:0px;
	position:absolute;
	left:1084px;
	top:655px;
}
.72_29 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_23 { 
	transform: rotate(0.24415667829400417deg);
	width:704.0064086914062px;
	height:0px;
	position:absolute;
	left:380px;
	top:818px;
}
.72_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_24 { 
	transform: rotate(0.24415667829400417deg);
	width:704.0064086914062px;
	height:0px;
	position:absolute;
	left:378px;
	top:749px;
}
.72_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_26 { 
	transform: rotate(0.24415667829400417deg);
	width:704.0064086914062px;
	height:0px;
	position:absolute;
	left:380px;
	top:659px;
}
.72_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_27 { 
	transform: rotate(0.24415667829400417deg);
	width:704.0064086914062px;
	height:0px;
	position:absolute;
	left:378px;
	top:981px;
}
.72_27 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_25 { 
	transform: rotate(0.24415667829400417deg);
	width:704.0064086914062px;
	height:0px;
	position:absolute;
	left:380px;
	top:896px;
}
.72_25 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e72_30 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:398px;
	top:693px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_34 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:809px;
	top:695px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_35 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:809px;
	top:771px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_38 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:809px;
	top:924px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_36 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:891px;
	top:849px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_31 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:398px;
	top:774px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_32 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:26px;
	position:absolute;
	left:398px;
	top:846px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e72_33 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:26px;
	position:absolute;
	left:398px;
	top:924px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
